{% extends 'article_template/template.html' %}
{% block content %}
{% load static category %}
{% get_category_list as category_list %}
<div align='center'>
	<figure class="image is-128x128">
		<img class="is-rounded" src='{% static 'imgs/i.jpg' %}' alt='defluat' width=224>
	</figure>
	<h1 style=" font-size:30px"> 我就是王 </h1>
</div>
<div class="container">
	<div class="notification is-warning">
		<div class='column is-6'>
			{% for post in post_list %}
				<a href='#'>{{ post.title }}</a> 
				<p>作者:{{ post.owner}}</p>
				<p>{{ post.desc|truncatechars:9 }}</p>
			{% endfor %}
		</div>
		<p class='has-text-right'>评论:6</p>
	</div>
</div> <br/>
<div class="container">
	<div class="notification is-warning">
		<div class='column is-6'>
			{% for post in post_list %}
				<a href='#'>{{ post.title }}</a> 
				<p>作者:{{ post.owner}}</p>
				<p>{{ post.desc|truncatechars:9 }}</p>
			{% endfor %}
		</div>
		<p class='has-text-right'>评论:6</p>
	</div>
</div> <br/>
<div class="container">
	<div class="notification is-warning">
		<div class='column is-6'>
			{% for post in post_list %}
				<a href='#'>{{ post.title }}</a> 
				<p>作者:{{ post.owner}}</p>
				<p>{{ post.desc|truncatechars:9 }}</p>
			{% endfor %}
		</div>
		<p class='has-text-right'>评论:6</p>
	</div>
</div> <br/>
<div class="container">
	<div class="notification is-warning">
		<div class='column is-6'>
			{% for post in post_list %}
				<a href='#'>{{ post.title }}</a> 
				<p>作者:{{ post.owner}}</p>
				<p>{{ post.desc|truncatechars:9 }}</p>
			{% endfor %}
		</div>
		<p class='has-text-right'>评论:6</p>
	</div>
</div> <br/>
{% endblock content %}
