{% extends 'index/template.html' %}
		{% block head %}
			<title> 首页 </title>
		{% endblock head %}
		{% load static %}
{% block content %} <br />
	<div align='center'>
		<figure class="image is-128x128">
			<img class="is-rounded" src='{% static 'imgs/i.jpg' %}' alt='defluat' width=224>
		</figure>
		<h1 style=" font-size:30px"> 欢迎来到我的闲聊博客 </h1>
	</div>
	<hr width=600 >
	<div class="buttons div">
		<a href='{%url 'blog:wen'%}' class="button is-warning">所有文章</a>
		<a href='https://github.com/Life-Mentor/duck_blog' class="button is-warning">项目地址</a>
		<a href='#' class="button is-warning">开发者名单</a>
	</div>
{% endblock content %}
