<!doctype html>
<html>
	<head>
		<title> Login </title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'users/login.css' %}">
		<link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}">
		<link rel="stylesheet" href="{% static 'imgs/img/css/all.css' %}">
	</head>
	<body>
		<h1 align="center"> 找回密码 </h1>
		<br />
		<form method="post">
		<br />
			{% csrf_token %}
			<div style="text-align:center">
				{{ form.email }}
		<br />
		<br />
				<div class="control">
					<button class="button is-primary">提交</button>
				</div>
			</div>
		</form>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
	</body>
</html>
